@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

body {
  @apply bg-black font-sans text-white;
}

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --font-sans: 'Inter', sans-serif;
}
